#form {
    text-align: center;
}

.redBorder {
    border: 2px red solid;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 10px;
    display: none;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.disappear {
    opacity: 0;
}

.appear {
    opacity: 100%;
}

.bg {
    background-color: red;
}